*{
    padding: 0;
    margin: 0;
  font-family: Century Gothic;

}
*::selection {
  color: none;
  background: none;
}

*::-moz-selection {
  color: none;
  background: none;
}

 
body ,html{
    background-color:#ebe7e4 ;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgb(245,89,81);
    background: linear-gradient(346deg, rgba(245,89,81,1) 0%, rgba(255,231,174,1) 100%);
    overflow: hidden;
   
  }
 .node{
 
  
    
    background-color: #f5f5f5;
    border: 3px solid #3d3d3d;
    
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    cursor: grab; 
       transition-duration: 0.4s;
  font-weight: bold;
  padding: 10px 16px;
 
    text-align: center;
    color:#3d3d3d;
 }

 .line{
    background-color:#3d3d3d;
    position: absolute;
    z-index: 0;
    height: 4px;
    transition: 0.6s;
    
}
 .data{

    position: absolute;
    display: none;
 }
 
 button{
 background-color: #f5f5f5;
    width: 100px;
    min-width: 100px;
    height: 40px;
    min-height: 40px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
   margin: auto;
   display: block;
   margin-top: 150px;
    
    transition: 0.3s;
    border-radius: 26px 26px 26px 26px;
   
    
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  
   background-color: transparent;;
   background-color: #f5f5f5;
  border:1px solid #195064;
   color: #195064;
    outline:none;
    font-weight: bold;
 }
 button:nth-last-child(5),button:nth-last-child(2){
   
   
   border-radius: 26px 0px 0px 26px;
 }
 button:nth-last-child(4),button:nth-last-child(1){

   
  border-radius: 0px 26px 26px 0px;
}
 button:active{
   border: none;
 }
 button:visited{
  border: none;
}
 button:hover{
  box-shadow: none;
  background-color: #fa7661;
  
   color: white;
   border: none;
 }
 .type{
   width: auto;
 margin-top: 80px;
  display: inline;
  padding-left: 63px;
  padding-right: 63px;
 }

 #speedtext{
   font-weight: bold;
   position: absolute;
   margin-top: 25px;
   margin-left: 27px;
   font-size: large;
 }
 #speed{
border-radius: 10px;
    position: absolute;
margin-top: 30px;
margin-left: 100px;
border: 1px solid black;
   
 }
 .slider {
    -webkit-appearance: none;
    width: 216px;
    height: 10px;
    background:#252525; 
    outline: none;
    position: absolute;
    margin-top: 400px;
    margin-left: 10px;
   cursor: pointer;
    transition:  .4s;
   
  }
  
  .slider:hover {
    background-color:  #000000;
  }
  .slider:hover::-webkit-slider-thumb {
    
    background: #fa7661;
 
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background: #fdfdfd;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #346d83;
    cursor: pointer;
  }

  


  #sidebar{

    height: 90.5%;
    width: 355px;
    margin-top: 23px;
    border-radius: 8px;
    margin-left: 23px;
    box-sizing: border-box;
    background-color: #525252f8;
    position: absolute;
    border-radius: 26px 0px 0px 26px;
    
    border: 0px solid #000000;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.418);
   
  }
  
  .edit{
    margin-top: 70px;
    display: none;
    padding-left: 56px;
    padding-right: 56px;
  }

 

  #bottombar{
width: 100%;
height: 20%;
padding-left: 05px;
box-sizing: border-box;
position: absolute;
z-index: 3;
background-color: #3d3d3d;
color: rgb(255, 255, 255);
padding-top: 3px;
text-align: center;
font-size: 13px;
margin-top: 48%;
  }

  #area{
   
    

    height: 90.5%;
    width: 73.2%;
    border: 1px solid black;
    margin-left: 387px;
    margin-top: 23px;
    position: absolute;
    background-color: #f5f5f5;
    position: absolute;
    border-radius: 0px 26px 26px 0px;
    
    border: 0px solid #000000;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.418);
   overflow: hidden;
    background-size: 600px 300px;
    
  }
  
  
  img{

    height: 100%;
    width: 120%;
    opacity: 0.1;
    display: none;
    position: absolute;

  }
  #area p{
    position: absolute;
    z-index: 2;
    margin-top:58%;
    margin-left: -30px;
    font-size: 90%;
  }
 
  .counter{

    display: none;
    height: 0;
    width: 0;
  }
  #intro {
margin-top: 20px;
  }
  .draw_text p{

    margin: 1px 30px;
    padding: 10px;
    background-color: #fa7661;
    color: white;
    text-align: center;
    border-radius: 26px 0px 0px 26px;
    font-size: large;
  }
 
  #intro p{
 
    margin: 1px 30px;
    width: 89%;
    padding: 10px;
    background-color: #fa7661;
    color: #ffffff;
    text-align: center;
    border-radius: 20px 0px 0px 0px;
    margin-left:10px;
   margin-top: 10px;
   font-size: larger;
  }
  .fa{

    color:  #000000f8;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 100px;
    margin-top: 10px;
    
  }
  .run{
    display: none;
  }

  #draw{

       transition: 0.3s;
       border-radius: 26px 26px 26px 26px;
       position: absolute;
       top: 42%;
       left: 33%;

       box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6); 
     background-color: transparent;;
    border:1px solid #195064;
     color: #195064;
  }
  #draw:hover{
    background-color: #fa7661;
    font-weight: bold;
     color: white;
     box-shadow: none;
     border:none;
   }

#tracking_code{
position: absolute;
  text-align: center;
 
  color: white;
  
 

}
#tracking_code #header{
  margin: 1px 30px;
  width: 127%;
  padding: 10px;
  background-color: #fa7661;
  color: #ffffff;
  text-align: center;
  border-radius: 20px 0px 0px 0px;
  margin-left:10px;
 margin-top: 10px;
 font-size: larger;
   
  
  }
#tracking_code .parent, #tracking_code .parent_none{

  transition-duration: 0.4s;
 font-size: large;

}
#tracking_code .children{
  transition-duration: 0.4s;
  font-size: large;
  color: rgb(209, 180, 117);


}
#tracking_code h1{
  font-size:15px; 
  color: rgb(255, 255, 255);


}

.visited{
  
  text-decoration: line-through;
  border-radius: 50%;
  padding: 0px 5px;
  margin: 0px 3px;

}
.current{

  background-color: #fa7661;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 0px 5px;
  margin: 3px 3px;
}
.child{

  border: 1px solid rgb(209, 180, 117);
  border-radius: 50%;
  padding: 0px 5px;
  margin: 3px 3px;
 
}
